{% macro displayArticles(article_list) %} {% for article in article_list %}

<!-- SOURCES MACROS -->
<div class="col">
  <div class="border rounded shadow-lg p-4">
    <a class="cheki-link" href="{{article.url}}" target="_blank"
      ><p class="lead fw-bold">{{article.name}}</p></a
    >
    <a class="cheki-link" href="{{article.url}}" target="_blank"
      ><p>{{article.description | truncate(100)}}</p></a
    >
    <small>Source: {{article.name}}</small>
  </div>
</div>

{% endfor %} {% endmacro %} {% macro displaySources(articles_results_list) %} {%
for article in articles_results_list %}

<div class="col">
  <div class="bg-image hover-zoom rounded shadow-4">
    <img src="{{article.urlToImage}}" class="w-100" />
    <a class="cheki-link" href="{{article.url}}" target="_blank"
      ><p class="lead fw-bold">{{article.title}}</p></a
    >
    <p>{{article.description | truncate(100)}}</p>
    <small>Published On: {{article.publishedAt | truncate(13)}}</small>
    <small>Source: {{article.name}}</small>
  </div>
</div>

{% endfor %} {% endmacro %}
